h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Add styles for the P tag */
p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

/* Add styles for the IMG tag */
img {
    width:70%;
    margin:auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
}